In [1]:
import numpy as  np
import pandas as pd

In [77]:
#Map the relationship between ACS sectors and REMI sectors.
#We use ACS sector aggregration because self employment data comes from ACS Table C24070, which uses this aggregration
sectormap = pd.read_csv('C:/Users/blu/Box/RTP SCS 2021 Modeling/control_totals/deliverables/sectormap.csv')

In [78]:
sectormap.head()

                               ind                      Industries
0  Agriculture & Natural Resources  Forestry, fishing, and hunting
1  Agriculture & Natural Resources                          Mining
2  Agriculture & Natural Resources                            Farm
3                     Construction                    Construction
4        Manufacturing & Wholesale                   Manufacturing

In [79]:
#remi BEA concept employment translates to EDD+ACS concept with a adjustment factor calculated using 2015 data
emp_translate = pd.read_csv('C:/Users/blu/Box/RTP SCS 2021 Modeling/control_totals/deliverables/emp_translate.csv')

In [80]:
emp_translate.head()

                               ind  adjustment
0  Agriculture & Natural Resources    0.642857
1                     Construction    0.850598
2        Manufacturing & Wholesale    0.905314
3                           Retail    0.854841
4       Transportation & Utilities    0.594682

In [81]:
#read employment data
emp = pd.read_csv('C:/Users/blu/Box/RTP SCS 2021 Modeling/control_totals/deliverables/pba50/draft forecast/upper range/employment_projections.csv')

In [82]:
emp_merge = pd.merge(sectormap,emp, how='inner', on=['Industries'])

In [83]:
emp_merge

,ind,Industries,2017,2020,2025,2030,2035,2040,2045,2050
0,Agriculture & Natural Resources,"Forestry, fishing, and hunting",10.840,11.388,11.815,12.478,13.036,13.606,14.181,14.732
1,Agriculture & Natural Resources,Mining,8.739,9.149,9.046,9.384,9.926,10.638,11.405,12.223
2,Agriculture & Natural Resources,Farm,17.853,18.309,18.327,18.739,18.934,19.046,19.108,19.090
3,Construction,Construction,263.329,316.963,301.085,282.754,291.789,308.104,314.368,322.408
4,Manufacturing & Wholesale,Manufacturing,378.070,379.349,345.812,323.254,312.000,308.317,305.270,302.765
5,Manufacturing & Wholesale,Wholesale trade,155.785,163.769,159.384,158.843,160.011,162.488,164.917,167.140
6,Retail,Retail trade,418.616,447.764,442.896,440.618,451.868,473.060,484.052,494.964
7,Transportation & Utilities,Transportation and warehousing,204.922,214.954,214.779,218.326,225.290,235.125,244.348,254.202
8,Transportation & Utilities,Utilities,17.706,18.684,18.513,18.512,18.546,18.688,18.925,19.277
9,Information,Information,218.673,237.186,247.511,265.426,287.762,315.770,347.675,383.812
10,Financial & Leasing,Finance and insurance,275.273,281.382,275.102,279.070,285.459,293.207,297.067,300.530
11,Financial & Leasing,Real estate and rental and leasing,248.073,261.003,263.093,267.542,275.934,287.555,293.099,298.882
12,Professional & Managerial Services,"Professional, scientific, and technical services",691.409,758.253,780.619,825.289,874.248,925.519,978.204,1031.429
13,Professional & Managerial Services,Management of companies and enterprises,80.912,85.166,85.626,87.735,89.974,92.599,95.160,97.493
14,Professional & Managerial Services,"Administrative, support, waste management, and...",324.167,349.964,360.736,373.991,387.465,402.337,417.968,433.856
15,Health & Educational Services,Educational services; private,165.441,179.404,187.257,191.515,195.288,197.522,199.296,203.542
16,Health & Educational Services,Health care and social assistance,564.676,615.281,646.637,675.961,709.447,745.811,773.309,800.390
17,"Arts, Recreation & Other Services","Arts, entertainment, and recreation",135.466,143.386,143.498,146.161,149.746,154.495,160.021,166.425
18,"Arts, Recreation & Other Services",Accommodation and food services,398.320,429.918,444.412,457.357,472.085,489.680,499.445,509.578
19,"Arts, Recreation & Other Services",Other services (except public administration),277.125,296.379,298.946,302.789,311.092,321.388,327.626,333.977
20,Government,State and Local Government,431.916,447.059,449.678,446.414,444.002,443.939,434.979,425.796
21,Government,Federal Civilian,48.098,49.127,46.528,46.643,47.403,48.313,49.355,50.494
22,Government,Federal Military,20.986,22.595,21.050,20.816,20.755,20.508,20.251,19.967

In [84]:
emp_sum = emp_merge.groupby(['ind']).sum().reset_index()

In [85]:
emp_sum

,ind,2017,2020,2025,2030,2035,2040,2045,2050
0,Agriculture & Natural Resources,37.432,38.846,39.188,40.601,41.896,43.290,44.694,46.045
1,"Arts, Recreation & Other Services",810.911,869.683,886.856,906.307,932.923,965.563,987.092,1009.980
2,Construction,263.329,316.963,301.085,282.754,291.789,308.104,314.368,322.408
3,Financial & Leasing,523.346,542.385,538.195,546.612,561.393,580.762,590.166,599.412
4,Government,501.000,518.781,517.256,513.873,512.160,512.760,504.585,496.257
5,Health & Educational Services,730.117,794.685,833.894,867.476,904.735,943.333,972.605,1003.932
6,Information,218.673,237.186,247.511,265.426,287.762,315.770,347.675,383.812
7,Manufacturing & Wholesale,533.855,543.118,505.196,482.097,472.011,470.805,470.187,469.905
8,Professional & Managerial Services,1096.488,1193.383,1226.981,1287.015,1351.687,1420.455,1491.332,1562.778
9,Retail,418.616,447.764,442.896,440.618,451.868,473.060,484.052,494.964
10,Transportation & Utilities,222.628,233.638,233.292,236.838,243.836,253.813,263.273,273.479

In [86]:
emp_merge2 = pd.merge(emp_sum,emp_translate, how='inner', on=['ind'])

In [87]:
emp_merge2.set_index('ind')

,2017,2020,2025,2030,2035,2040,2045,2050,adjustment
ind,,,,,,,,,
Agriculture & Natural Resources,37.432,38.846,39.188,40.601,41.896,43.290,44.694,46.045,0.642857
"Arts, Recreation & Other Services",810.911,869.683,886.856,906.307,932.923,965.563,987.092,1009.980,0.762703
Construction,263.329,316.963,301.085,282.754,291.789,308.104,314.368,322.408,0.850598
Financial & Leasing,523.346,542.385,538.195,546.612,561.393,580.762,590.166,599.412,0.428895
Government,501.000,518.781,517.256,513.873,512.160,512.760,504.585,496.257,0.958208
Health & Educational Services,730.117,794.685,833.894,867.476,904.735,943.333,972.605,1003.932,0.847728
Information,218.673,237.186,247.511,265.426,287.762,315.770,347.675,383.812,0.916083
Manufacturing & Wholesale,533.855,543.118,505.196,482.097,472.011,470.805,470.187,469.905,0.905314
Professional & Managerial Services,1096.488,1193.383,1226.981,1287.015,1351.687,1420.455,1491.332,1562.778,0.754617
Retail,418.616,447.764,442.896,440.618,451.868,473.060,484.052,494.964,0.854841
Transportation & Utilities,222.628,233.638,233.292,236.838,243.836,253.813,263.273,273.479,0.594682

In [88]:
emp_merge2 [['2017','2020','2025','2030','2035','2040','2045','2050']] = emp_merge2[['2017','2020','2025','2030','2035','2040','2045','2050']].mul(emp_merge2.adjustment, axis = 0)

In [89]:
emp_merge2 = emp_merge2.iloc[:, :-1]

In [90]:
emp_merge2

,ind,2017,2020,2025,2030,2035,2040,2045,2050
0,Agriculture & Natural Resources,24.063429,24.972429,25.192286,26.100643,26.933143,27.829286,28.731857,29.600357
1,"Arts, Recreation & Other Services",618.484523,663.310124,676.408028,691.243371,711.543482,736.438119,752.858359,770.315113
2,Construction,223.987235,269.608231,256.102429,240.510109,248.195266,262.072779,267.400928,274.239739
3,Financial & Leasing,224.460540,232.626274,230.829203,234.439213,240.778712,249.085981,253.119311,257.084875
4,Government,480.062401,497.100304,495.639036,492.397417,490.756006,491.330931,483.497578,475.517619
5,Health & Educational Services,618.940806,673.676924,706.915500,735.383911,766.969417,799.690032,824.504734,851.061516
6,Information,200.322533,217.281970,226.740523,243.152143,263.613765,289.271406,318.499022,351.603499
7,Manufacturing & Wholesale,483.306369,491.692292,457.360977,436.449131,427.318134,426.226326,425.666842,425.411543
8,Professional & Managerial Services,827.428089,900.546668,925.900278,971.202934,1020.005501,1071.898978,1125.383941,1179.298282
9,Retail,357.850031,382.766930,378.605565,376.658238,386.275197,404.390983,413.787393,423.115415
10,Transportation & Utilities,132.392782,138.940227,138.734467,140.843208,145.004790,150.937929,156.563617,162.632938

In [91]:
emp_merge2.to_csv('C:/Users/blu/Box/RTP SCS 2021 Modeling/control_totals/deliverables/pba50/draft forecast/upper range/emp by ind.csv')

In [ ]:
#remember to delete the index columns in the results!